.container-slider{
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    padding: 40px 20px;
}
.slider{
    display: flex;
    justify-content: right;
    gap: 10px;
    transition: left 0.5s;
    position: relative;
    left: 0;
    height:330px;
}
.slide{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-shrink: 0;
}

.control-slider-second {
    position: absolute;
    top: 40%;
    width: 107%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 999;
    direction: ltr !important;
    left: -40px;
  }

.control-slider-second i{
    color: white;
    cursor: pointer;
    font-size: 17px;
    pointer-events: all;
    background-color: rgba(114, 58, 198, 0.6);
    border-radius: 50%;
    padding: 12px;
}