.event_details_swiper .swiper-slide {
    height: 512px;
}

@media (max-width: 768px) {
    .event_details_swiper .swiper-slide {
        height: 250px;
    }

}

.event_details_swiper .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.event_details_swiper {
    position: relative;
}

.event_details_swiper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, #000000f0 7%, transparent 28%);
    z-index: 111;
}

@media (max-width: 576px) {
    .event_details_swiper::after {
        content: none
    }
}

.border-line {
    position: relative;
}

.border-line::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 1px;
    height: 50%;
    background-color: #A986BF;
}

.rtl .border-line::after {
    left: 0;
    right: initial;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    z-index: 2;
}

.disable {
    pointer-events: none;
}

.paragraph-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-hover-primary {
    position: relative;
    overflow: hidden;
    transition: .2s;
}

.btn-hover-primary svg {
    transition: .2s;
}

.btn-hover-primary:hover svg {
    transform: translatex(5px);
}

.rtl .btn-hover-primary:hover svg {
    transform: translatex(-5px) rotate(180deg);
}

.btn-hover-primary::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, #8D5FAA, transparent);
    transition: width .2s;
}

.btn-hover-primary:hover::after {
    width: 100%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    background-color: #00000075;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.custom-radio {
    border: 2px solid #723995;
}

.custom-radio.checked::before {
    content: '';
    width: 10px;
    height: 10px;
    background: linear-gradient(180deg, #A986BF -10%, #723995 107.5%);
    border-radius: 50%;
}

.border-before {
    position: relative;
}

.inner-hover:hover .bg-light-gradient {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 100%);
}

.inner-hover:hover .border-before::before {
    background-color: #fff;
}

.border-before::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 13px;
    height: 100%;
    background-color: #723995;
    top: 0;
    left: 0;
    border-radius: 15px 0 0 15px;
}

.hero {
    margin-top: -128px;
    padding-top: 128px;
}




.swiper-hero {
    width: 600px;
}

.swiper-hero .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

@media (max-width: 1024.98px) {
    .swiper-hero {
        width: 400px;
    }

    .swiper-hero .swiper-slide {
        width: 300px;
        height: 300px;
    }

}

@media (max-width: 575.98px) {
    .swiper-hero .swiper-slide {
        width: 230px;
        height: 230px;
    }

    .swiper-hero {
        width: 300px;
    }

}



.anim-tiket-h {
    animation: anim-tiket-h .5s ease-in;
}

.anim-tiket-p {
    animation: anim-tiket-p .5s ease-in .2s;

}

.anim-tiket-btn {
    animation: anim-tiket-p .5s ease-in .3s;

}

@keyframes anim-tiket-p {
    from {
        transform: translatey(70px);
    }

    to {
        transform: translatey(0);
    }
}

@keyframes anim-tiket-h {
    from {
        transform: translatey(120px);
    }

    to {
        transform: translatey(0);

    }
}

.pline2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    .pline2 {
        -webkit-line-clamp: 1;

    }

    .swiper-pagination-horizontal {
        bottom: -20px !important;
    }
}

@media (min-width: 578px) {

    .swiper-pagination-horizontal {
        bottom: -24px !important;
    }
}

.swiper-pagination-bullet {
    background: #99999940;
}

.swiper-pagination-bullet-active {
    background: #C4ACD3;
}



.ui-widget-header {
    background-color: #333333 !important;
    border: transparent !important;
}

.ui-widget-content {
    border: transparent !important;
    background: #2C272C;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: none !important;
    background: #723995 !important;
    border-radius: 50%;
    box-shadow: 0px 0px 6.8px 0px #2B133A;

}

.ui-slider-handle:focus-visible {
    outline: 1px solid #A986BF;
}

.ui-widget.ui-widget-content {
    height: 5px;
    margin: 15px auto;
    transform: translateX(-50%);
}

.ui-datepicker td:hover {
    background: #A986BFE0;
    border-radius: 4px;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    font-family: Bricolage Grotesque, Alexandria, sans-serif;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.3em;
    width: 13px;
    height: 13px;
}


input[type="checkbox"].custome {
    position: relative;
    background-color: #191819;
    border: 1px solid #A986BF1F;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"].custome:checked {
    background-color: #A986BF;
}

input[type="checkbox"].custome::after {
    position: absolute;
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    top: 50%;
    left: 50%;
    color: #191819;
    transform: translate(-50%, -50%);
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #FBF9FD !important;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: transparent !important;
}

.select2-selection__arrow {
    position: relative;
    border: none;
}

.fs-select .select2-selection__arrow::after {
    background: url('data:image/svg+xml;utf8,<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.65942 7.79883L1.03442 2.17383C0.653564 1.82227 0.653564 1.20703 1.03442 0.855469C1.38599 0.474609 2.00122 0.474609 2.35278 0.855469L7.33325 5.80664L12.2844 0.855469C12.636 0.474609 13.2512 0.474609 13.6028 0.855469C13.9836 1.20703 13.9836 1.82227 13.6028 2.17383L7.97778 7.79883C7.62622 8.17969 7.01099 8.17969 6.65942 7.79883Z" fill="%23ffffff"/></svg>') no-repeat center center;
}

.select2-selection__arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 9px;
    background: url('data:image/svg+xml;utf8,<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.65942 7.79883L1.03442 2.17383C0.653564 1.82227 0.653564 1.20703 1.03442 0.855469C1.38599 0.474609 2.00122 0.474609 2.35278 0.855469L7.33325 5.80664L12.2844 0.855469C12.636 0.474609 13.2512 0.474609 13.6028 0.855469C13.9836 1.20703 13.9836 1.82227 13.6028 2.17383L7.97778 7.79883C7.62622 8.17969 7.01099 8.17969 6.65942 7.79883Z" fill="%23666666"/></svg>') no-repeat center center;
    background-size: contain;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 6px;
    padding-right: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: transparent;
}

.rtl .select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 1px;
}

.slide {
    animation: slide .5s cubic-bezier(0.4, 0, 1, 1);
}

@keyframes slide {
    from {
        transform: translatey(100%);
    }

    to {
        transform: translatey(0);
    }

}

.slide-down {
    animation: slide-down .5s cubic-bezier(0.4, 0, 1, 1);

}

@keyframes slide-down {
    from {
        transform: translatey(0);
    }

    to {
        transform: translatey(100%);
    }

}

.swiper-wrapper {
    height: auto;
}

.select2-dropdown {
    background-color: #333333;
    border: 1px solid transparent;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #363843;
    background: #1E1D1E;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #A986BFCC;
    border-radius: 8px;
}

.select2-results__option[aria-selected] {
    font-size: 12px;
    font-weight: 400;
    background: #B5B7C8;
    padding: 8px;
    margin-bottom: 2px;
}

.select2-container--open .select2-dropdown--below {
    border-radius: 20px;
}

.select2-container--default .select2-results>.select2-results__options {
    padding: 1rem;
    background-color: transparent;
}

.rtl .select2-container--default .select2-results>.select2-results__options {
    text-align: end;
}

.select2-results__option[aria-selected] {
    background-color: #333333;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus-visible {
    outline: none;
    border: 1px solid #331F3E;
}

.select2-search--dropdown {
    padding: 20px 15px;
}

.select2uiContainer {
    width: 100% !important;
}

.bg-location {
    background: url(../images/bg-location.webp);
    background-size: cover;
    background-position: center;
}

.swiper-button-next,
.swiper-button-prev {
    background: #723995;
    color: #121212;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    top: 50%;
    left: 50%;
    color: #191819;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.swiper-button-next:after {
    content: '\f054';
}

.swiper-button-prev:after {
    content: '\f053';
}

.swiper-button-next {
    right: -60px;
}

.swiper-button-prev {
    left: -60px;
}

@media (max-width: 1199.98px) {
    .swiper-button-contaienr {
        position: absolute;
        bottom: -42px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ui-widget-content {
    background: transparent;
}

.ui-datepicker table {
    background: #333333;
    border: 1px solid transparent;
    border-radius: 0 0 24px 24px;
}

.ui-datepicker .ui-datepicker-title {
    color: #fff;
    text-align: start;
    margin: 0 16px;
}

#ui-datepicker-div {
    top: 0 !important;
    left: 50% !important;
}

.event-date #ui-datepicker-div {
    top: 40px !important;
    z-index: 9999 !important;
}


.datepicker-cont,
.ui-datepicker-header,
.ui-datepicker-calendar {
    z-index: 9999 !important;
}

.ui-datepicker .ui-datepicker-prev {
    right: 25px !important;
    left: initial;
}

.ui-datepicker-calendar thead {
    display: none;
}

.ui-datepicker th {
    color: #fff;
}

.rtl .ui-datepicker-rtl .ui-datepicker-next {
    left: 45px !important;
}

.rtl .ui-datepicker .ui-datepicker-prev {
    left: 25px !important;
    right: inherit !important;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    margin-left: -16px;
    margin-top: 5px;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: none !important;
    background: transparent !important;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    text-align: -webkit-center;
}

.ui-datepicker-prev .ui-icon,
.ui-datepicker-next .ui-icon {
    background-image: url(../images/chevron-next.svg) !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.ui-datepicker-prev .ui-icon {

    transform: rotate(180deg)
}

.ui-datepicker td {
    padding: 5px !important;
}

.ui-datepicker .ui-datepicker-header {
    border-radius: 24px 24px 0 0;
    padding: 16px 0 12px;
}

.border-hover::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 16px;
    transition: .5s;
}

.border-hover:hover:after {
    width: 90%;
    height: 90%;
    border: 1px solid #FFFFFF54;
}

.line-thr {
    position: relative;
}

.line-thr::before,
.line-thr::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translatey(-50%);
    width: 35%;
    height: 1px;
    background-color: #A986BF52;
}

.line-thr::before {
    right: 0;
}

.line-thr::after {
    left: 0;
}



.swiper-scrollbar-drag {
    background-color: #C4ACD3;
}

@media (min-width: 576px) {
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        bottom: -44px;
        width: 29% !important;


    }
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 8px;
    background: #99999940;
    position: relative;
    margin: auto;
    bottom: -24px;

}

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
    background: #292929;
    border: 1px solid #FBF9FD1A;
    border-radius: 20px;
}

.swal2-title {
    color: #fff4f4;
}

.swal2-icon.swal2-warning {
    border-color: #E55E73;
    color: #E55E73;
}

.swal2-styled.swal2-confirm {
    background-color: #00B5C4 !important;
}

.swal2-styled.swal2-cancel {
    background-color: #E55E73;
}

.rtl {
    direction: rtl;
}

.grayscale-hover:hover .grayscale {
    --tw-grayscale: grayscale(0);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
}

.wahlist {
    position: absolute;
    right: 7px;
    top: 7px;
}

.rtl .wahlist {
    left: 7px;
    right: initial;
}


.ticket-wahlist:hover .wahlist {
    display: block !important;
}

.ticket-wahlist:hover .wahlist svg .fill {
    fill: transparent;
}

.ticket-wahlist:hover .wahlist svg:hover .fill {
    fill: #A986BF;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@media only screen and (max-height: 700px) {
    #register-model {
        max-height: 70vh;
        overflow: scroll;
    }
}

.image-overlay {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-overlay::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #51405B45;
}

.overlay-tiket {
    position: relative;
}

.overlay-tiket::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(41, 40, 41, 0) 23.75%, #292829 100%);

}

.round-tiket {
    position: relative;
}

.round-tiket::after,
.round-tiket::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #121212a8;
    border-radius: 50%;
    border: 1px solid #FBF9FD1A;
    top: -20px;
}

.round-tiket::after {
    right: -30px;
}

.round-tiket::before {
    left: -30px;
}

.activeSlotEvent {
    background: rgb(114 57 149 / 25%);
    border: 1px solid #A986BF;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: #21112a00;
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #b6b5b742;
    border-radius: 10px;
    /* Rounded corners */
}

.select2-results__option[aria-selected] {
    font-family: Bricolage Grotesque, Alexandria, sans-serif;
    font-weight: 500;
}

.select2-results__option[aria-selected] button:not(:last-child) {
    margin-bottom: 12px;

}

/* On hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fs-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 20px !important;
}

.rtl .fs-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: end;
}

.rtl .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 25px;
    padding-right: 6px;
}

.toggleCategories:hover svg path {
    fill: #723995;

}

.rtl .space-x-2> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
    margin-left: calc(1rem * var(--tw-space-x-reverse));
}

#SearchEventName {
    transition: width 0.3s ease;
}

.spinner {
    display: none;
    border: 4px solid #723995b8;
    border-radius: 50%;
    border-top: 4px solid #a986bf;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    /* position: fixed; */
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}